In [1]:
#For can go through a range or elements in the list

onetoten = range (1, 11)

for count in onetoten:
    print(count)

1
2
3
4
5
6
7
8
9
10

In [2]:
for count in range(1,11):
    print(count)

1
2
3
4
5
6
7
8
9
10

In [4]:
range(1,10)

range(1, 10)

In [5]:
list(range(1,10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [6]:
list(range(-32, -20))

[-32, -31, -30, -29, -28, -27, -26, -25, -24, -23, -22, -21]

In [7]:
list(range(5,21))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
list(range(5))

[0, 1, 2, 3, 4]

In [10]:
list(range(21,5))

[]

In [11]:
len(range(5))

5

In [12]:
demolist = [ "life", 42, "the universe", 6, "and", 7, "everything"]

for item in demolist:
    print("The current item is : ", item)

The current item is :  life
The current item is :  42
The current item is :  the universe
The current item is :  6
The current item is :  and
The current item is :  7
The current item is :  everything

In [13]:
list = [ 2, 4, 6, 8]
sum = 0

for num in list:
    sum = sum + num
    
print(" The sum is : ", sum)

 The sum is :  20

In [14]:
list = [ 4, 5, 7, 8, 9, 1, 0, 7, 10]
list.sort()
prev = None
for item in list:
    if prev == item:
        print('Duplicate of', prev, 'found')
    prev = item

Duplicate of 7 found

In [15]:
a = 1
b = 1
for c in range(1, 10):
    print(a, end =" ")
    n = a + b
    a = b
    b = n

1 1 2 3 5 8 13 21 34